<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    	<title>Stock Sentiment Analysis</title>
	  <style> body {background: powderblue
	  				url("https://raw.githubusercontent.com/Sushobhan55/stock_sentiment_analysis/main/flask-web-app/static/img.png")
	  				no-repeat right top;}
	  	table {width: 50%; overflow-y:scroll; height:350px; display:block;}
		h1 {color: green; font-family: "audiowide"; font-size: 41px}
		th, td {border: 1px solid white;border-radius: 5px;background-color: #96D4D4}


	  </style>
</head>
  <body class = "center-screen">
		<h1> Stock Sentiment Analysis </h1>
		<form action="{{ url_for('main') }}" method="POST">
			<fieldset>
				<legend><h2>Input Stock</h2></legend>
				Type your stock ticker in here:
				<input name="ticker" type="text" autocomplete = "off" required>
				<input type="submit" value="Submit">
			</fieldset>
		</form>
		{% if table %}
			<table>
				<caption><h3>Today's data for {{ input_text }}</h3></caption>
				<tr>
					{% for header in headings %}
					<th>{{ header }}</th>
					{% endfor %}
				</tr>
				{% for row in table %}
				<tr>
					<td><small>{{ row[0] }}</small></td>
					<td><small>{{ row[1] }}</small></td>
					<td><small><a href = {{ row[3] }}>{{ row[2] }}</a></small></td>
					<td><small>{{ row[4] }}</small></td>
				</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if plot %}
			{{ plot }}
		{% endif %}

  </body>
</html>