<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    	<title>Stock Sentiment Analysis</title>
	  <style> body {background-color: powderblue;}
		h1 {color: green; font-family: "audiowide"; font-size: 40px;}
	  </style>
</head>
  <body align="center" class = "center-screen">
		<h1> Stock Sentiment Analysis </h1>
		<form action="{{ url_for('main') }}" method="POST">
			<fieldset>
				<legend><h2>Input Stock</h2></legend>
				Type your stock ticker in here:
				<input name="ticker" type="text" autocomplete = "off" required>
				<input type="submit" value="Submit">
			</fieldset>
		</form>
		{% if table %}
			<h2 align="left"> Today's data for {{ input_text }} </h2>
			<table>
				<tr>
					{% for header in headings %}
					<th>{{ header.capitalize() }}</th>
					{% endfor %}
				</tr>
				{% for row in table %}
				<tr>
					{% for cell in row %}
						{% if header == Title %}
    						<td><a href="#"> {{ cell }} </a></td>
						{% else %}
							<td> {{ cell }} </td>
						{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}

			</table>
		{% endif %}

		{% if plot %}
			{{ plot }} width="500" height="600"
		{% endif %}

  </body>
</html>